@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 10vh;
  background: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
}
nav .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-width: 90%;
  margin: auto;
}
nav .navbar .logo a {
  color: #fff;
  font-size: 27px;
  font-weight: 600;
  text-decoration: none;
}
nav .navbar .menu {
  display: flex;
}
.navbar .menu li {
  list-style: none;
  margin: 0 15px;
}
.navbar .menu li a {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
}
section {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 70px;
}
#Home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/assets/myimage.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.home-container {
  height: 100vh;
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 10vh;
  /* bottom: 0; */
  line-height: 1.2;
  color: #df5f24;
}

#About {
  background: #e8ddd1;
}

.about-container {
  height: 80vh;
  width: 90%;
  margin-top: 10vh;
  /* border: 1px solid red; */
  display: flex;
}

.about-me {
  height: 100%;
  width: 50%;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  /* align-items: center; */
  border-right: 2px solid red;
}

.about-container span {
  color: #df5f24;
}

.about-container p {
  color: black;
  font-size: 1.5rem;
}

.skills-sec {
  height: 100%;
  width: 50%;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  /* border: 1px solid black; */
  /* font-size: 2rem; */
}

.skills {
  width: 100%;
  background-color: white;
  height: 3vh;
  /* width: 100%; */
  border-radius: 5rem;
}

.skill-bar {
  text-align: right;
  font-size: 1rem;
  color: white;
  height: 100%;
  /* padding: 0.2rem; */
}

.web-dev {
  width: 90%;
  background-color: #04aa6d;
}

.android-dev {
  width: 80%;
  background-color: #04aa6d;
}

.cpp {
  width: 90%;
  background-color: #04aa6d;
}

#Education {
  background: #f2d4b3;
}

.edu-container {
    height: 80vh;
    width: 90%;
    margin-top: 10vh;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
    color: #df5f24;
}

.education {
    height: 80vh;
    width: 80%;
    /* border: 1px solid blue; */
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column; 
    padding: 2rem;
    color: #000;

}

#Projects {
  background: #f2caa0;
}

.project-container {
    height: 80vh;
    width: 90%;
    margin-top: 10vh;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5rem;
    flex-direction: column;
    color: #df5f24;
}

.projects {
    height: 100%;
    width: 100%;
    /* border: 1px solid blue; */
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;

}

.proj {
    height: 15vh;
    width: 20vw;
    font-size: 1.2rem ;
    border: 1px solid red;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: #000;
    text-decoration: none;
    border-radius: 2rem;
    

}

.proj a {
    text-decoration: none;
}

#Contact {
  background: #ecba85;
}

.contact-container {
    height: 80vh;
    width: 90%;
    margin-top: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
    flex-direction: column;
    color: #df5f24;
}

.input-form {
    height: 100%;
    width: 100%;
    display: flex;

}

.input-form form {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.input-form form .name {
    width: 30vw;
    height: 5vh;
    padding: 1rem;

}


.input-form form .email {
    width: 30vw;
    height: 5vh;
    padding: 1rem;
}

.input-form form .review {
    width: 30vw;
    height: 10vh;
    padding: 1rem;
}

.submitBtn {
    background-color: #df5f24;
    color: white;
    height: 7vh;
    width: 5vw;
}

.info {
    height: 100%;
    width: 50% ;
    border-left: 2px solid red;
    color: #000;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem;
}

.button a {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: #2980b9;
  padding: 7px 12px;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
}
